a {
	text-decoration: none;
}

body {
	margin: 0;
}

.content {
	padding: 5px 30px;
}

h1, h2, h3 {
	text-align: center;
}

h1 {
	font-size: xx-large;
}

// media queries

section {
	padding-left: 0px;
}

.feature {
	display: block;
	max-width: 300px;
	max-height: 200px;
	height: auto;
	margin-right: auto;
	margin-left: auto;
}


@media screen and (min-width: 840px) {
	section {
		padding-left: 200px;
	}

	.feature {
		max-width: 600px;
		max-height: 400px;
	}
}
